Repository AY2324S1-CS2103T-W11-3/tp, pull requests merged in 2023-10, with the labels that each got.

#13 Update UG on introduction and command 'add'
  docs/UserGuide.md
Labels: type.Story, type.Doc

#21 Update Yiming's information in aboutUs page
  docs/AboutUs.md
  docs/images/johndoe.png
  docs/images/tanyyyming.png
Labels: type.Doc

#31 Update Delton's Project Portfolio Page
  docs/AboutUs.md
  docs/images/deltoncheng.png
  docs/team/deltoncheng.md
Labels: type.Doc

#26 Update Yang Yi's Project Portfolio Page
  build.gradle
  docs/AboutUs.md
  docs/images/yytan25.png
  docs/team/yytan25.md
Labels: type.Doc

#47 Update README to be based on project
  README.md
  docs/images/Ui.png
Labels: type.Doc

#40 Update UG with the "tag genre" feature
  docs/UserGuide.md
Labels: type.Doc

#42 Update DG with the tag genre use case
  docs/DeveloperGuide.md
Labels: type.Doc

#51 Update docs/_config.yml to suit our app
  docs/_config.yml
Labels: type.Chore

#29 Update Yang Yi's information in AboutUs page
  build.gradle
  docs/AboutUs.md
Labels: type.Doc

#44 Update DG on add record use case
  docs/DeveloperGuide.md
Labels: type.Doc

#30 Update UG command 'remove' and Command Summary
  docs/UserGuide.md
Labels: type.Doc

#49 Update UG with the "find" feature
  docs/UserGuide.md
Labels: type.Doc

#73 Add Instrument and Genre as subclasses of Tag
  README.md
  src/main/java/seedu/address/logic/commands/EditCommand.java
  src/main/java/seedu/address/logic/parser/AddCommandParser.java
  src/main/java/seedu/address/logic/parser/CliSyntax.java
  src/main/java/seedu/address/logic/parser/EditCommandParser.java
  src/main/java/seedu/address/logic/parser/ParserUtil.java
  src/main/java/seedu/address/model/musician/Musician.java
  src/main/java/seedu/address/model/tag/Genre.java
  src/main/java/seedu/address/model/tag/Instrument.java
  src/main/java/seedu/address/model/tag/Tag.java
  src/main/java/seedu/address/model/util/SampleDataUtil.java
  src/main/java/seedu/address/storage/JsonAdaptedMusician.java
  src/main/java/seedu/address/ui/PersonCard.java
  src/main/resources/view/DarkTheme.css
  src/main/resources/view/PersonListCard.fxml
  src/test/data/JsonSerializableAddressBookTest/typicalMusiciansAddressBook.json
  src/test/java/seedu/address/logic/commands/EditMusicianDescriptorTest.java
  src/test/java/seedu/address/logic/parser/EditCommandParserTest.java
  src/test/java/seedu/address/model/musician/MusicianTest.java
  src/test/java/seedu/address/storage/JsonAdaptedMusicianTest.java
  src/test/java/seedu/address/testutil/EditMusicianDescriptorBuilder.java
  src/test/java/seedu/address/testutil/MusicianBuilder.java
  src/test/java/seedu/address/testutil/MusicianUtil.java
  src/test/java/seedu/address/testutil/TypicalMusicians.java
Labels: priority.High, type.Enhancement

#77 Implement class "Band"
  src/main/java/seedu/address/model/band/Band.java
  src/main/java/seedu/address/model/band/Name.java
  src/main/java/seedu/address/model/util/SampleDataUtil.java
  src/test/java/seedu/address/model/band/BandTest.java
  src/test/java/seedu/address/model/band/NameTest.java
  src/test/java/seedu/address/testutil/BandBuilder.java
  src/test/java/seedu/address/testutil/TypicalBands.java
Labels: type.Task

#80 Add command "ListBand"
  src/main/java/seedu/address/logic/commands/ListBandCommand.java
  src/main/java/seedu/address/logic/parser/AddressBookParser.java
  src/main/java/seedu/address/logic/parser/ListBandCommandParser.java
  src/main/java/seedu/address/model/AddressBook.java
  src/main/java/seedu/address/model/Model.java
  src/main/java/seedu/address/model/ModelManager.java
  src/main/java/seedu/address/model/band/BandNameContainsKeywordsPredicate.java
  src/main/java/seedu/address/model/band/UniqueBandList.java
  src/test/java/seedu/address/logic/commands/AddCommandTest.java
Labels: type.Story

#82 Fix bugs in code and checkstyle
  src/main/java/seedu/address/model/Model.java
  src/main/java/seedu/address/model/ModelManager.java
  src/main/java/seedu/address/model/band/UniqueBandList.java
  src/test/java/seedu/address/logic/commands/AddCommandTest.java
Labels: type.Bug

#83 Add validity checks for instrument and genre names with more tests
  src/main/java/seedu/address/logic/parser/EditCommandParser.java
  src/main/java/seedu/address/storage/JsonAdaptedGenre.java
  src/main/java/seedu/address/storage/JsonAdaptedInstrument.java
  src/main/java/seedu/address/storage/JsonAdaptedMusician.java
  src/test/java/seedu/address/model/tag/GenreTest.java
  src/test/java/seedu/address/model/tag/InstrumentTest.java
  src/test/java/seedu/address/storage/JsonAdaptedMusicianTest.java
Labels: priority.Medium, type.Enhancement

#87 Implemented addition of musician into a band
  src/main/java/seedu/address/logic/Messages.java
  src/main/java/seedu/address/logic/commands/AddBandCommand.java
  src/main/java/seedu/address/logic/commands/AddMusiciantoBandCommand.java
  src/main/java/seedu/address/logic/parser/AddMusiciantoBandCommandParser.java
  src/main/java/seedu/address/logic/parser/AddressBookParser.java
  src/main/java/seedu/address/logic/parser/CliSyntax.java
  src/main/java/seedu/address/model/AddressBook.java
  src/main/java/seedu/address/model/Model.java
  src/main/java/seedu/address/model/ModelManager.java
  src/main/java/seedu/address/model/band/Band.java
  src/main/java/seedu/address/model/band/BandMusicians.java
  src/main/java/seedu/address/model/band/UniqueBandList.java
  src/main/java/seedu/address/model/musician/UniqueMusicianList.java
  src/main/java/seedu/address/storage/JsonAdaptedBand.java
  src/test/java/seedu/address/logic/commands/AddCommandTest.java
Labels: type.Story

#84 Update GUI with Band Panel
  src/main/java/seedu/address/commons/core/GuiSettings.java
  src/main/java/seedu/address/logic/Logic.java
  src/main/java/seedu/address/logic/LogicManager.java
  src/main/java/seedu/address/model/Model.java
  src/main/java/seedu/address/model/ModelManager.java
  src/main/java/seedu/address/ui/BandCard.java
  src/main/java/seedu/address/ui/BandListPanel.java
  src/main/java/seedu/address/ui/MainWindow.java
  src/main/java/seedu/address/ui/UiManager.java
  src/main/resources/images/address_book_32.png
  src/main/resources/images/logo.png
  src/main/resources/view/BandListCard.fxml
  src/main/resources/view/BandListPanel.fxml
  src/main/resources/view/DarkTheme.css
  src/main/resources/view/MainWindow.fxml
  src/test/java/seedu/address/commons/util/AppUtilTest.java
Labels: priority.Medium, severity.Low, type.Enhancement

#89 Implement method 'deleteBand'
  src/main/java/seedu/address/logic/Messages.java
  src/main/java/seedu/address/logic/commands/DeleteBandCommand.java
  src/main/java/seedu/address/logic/parser/AddressBookParser.java
  src/main/java/seedu/address/logic/parser/DeleteBandCommandParser.java
  src/main/java/seedu/address/model/AddressBook.java
  src/main/java/seedu/address/model/Model.java
  src/main/java/seedu/address/model/ModelManager.java
  src/test/java/seedu/address/logic/commands/AddCommandTest.java
Labels: type.Story

#107 Modify listb command to take in string as parameter instead of index
  build.gradle
  src/main/java/seedu/address/logic/Messages.java
  src/main/java/seedu/address/logic/commands/AddMusiciantoBandCommand.java
  src/main/java/seedu/address/logic/commands/FindBandCommand.java
  src/main/java/seedu/address/logic/commands/ListBandCommand.java
  src/main/java/seedu/address/logic/commands/ListCommand.java
  src/main/java/seedu/address/logic/parser/AddressBookParser.java
  src/main/java/seedu/address/logic/parser/FindBandCommandParser.java
  src/main/java/seedu/address/logic/parser/ListBandCommandParser.java
  src/main/java/seedu/address/logic/parser/ParserUtil.java
  src/main/java/seedu/address/model/Model.java
  src/main/java/seedu/address/model/ModelManager.java
  src/main/java/seedu/address/model/band/BandIsSamePredicate.java
  src/main/java/seedu/address/model/band/BandName.java
  src/main/java/seedu/address/model/band/BandNameContainsKeywordsPredicate.java
  src/main/java/seedu/address/model/band/UniqueBandList.java
  src/test/java/seedu/address/logic/commands/AddBandCommandTest.java
  src/test/java/seedu/address/logic/commands/AddCommandTest.java
  src/test/java/seedu/address/logic/commands/AddMusiciantoBandCommandTest.java
  src/test/java/seedu/address/logic/commands/FindBandCommandTest.java
Labels: priority.High, severity.High

#112 Update DG on findb feature
  docs/DeveloperGuide.md
Labels: type.Doc

#116 Fix bugs due to merge conflicts
  src/main/java/seedu/address/logic/commands/exceptions/CommandException.java
  src/main/java/seedu/address/model/AddressBook.java
  src/main/java/seedu/address/model/ModelManager.java
  src/main/java/seedu/address/model/band/BandIsSamePredicate.java
  src/main/java/seedu/address/model/band/UniqueBandList.java
Labels: priority.High, type.Bug

#125 Update DG Implementation for AddMusicianToBand
  docs/DeveloperGuide.md
Labels: type.Doc

#126 Fix edit/delete command to include band list
  src/main/java/seedu/address/logic/commands/band/FindBandCommand.java
  src/main/java/seedu/address/logic/commands/musician/DeleteCommand.java
  src/main/java/seedu/address/logic/commands/musician/EditCommand.java
  src/main/java/seedu/address/logic/commands/musician/FindCommand.java
  src/main/java/seedu/address/logic/parser/AddressBookParser.java
  src/main/java/seedu/address/logic/parser/FindBandCommandParser.java
  src/main/java/seedu/address/model/AddressBook.java
  src/main/java/seedu/address/model/ModelManager.java
  src/main/java/seedu/address/model/band/Band.java
  src/main/java/seedu/address/model/band/BandMusicians.java
  src/main/java/seedu/address/model/band/UniqueBandList.java
  src/main/java/seedu/address/model/musician/UniqueMusicianList.java
  src/test/java/seedu/address/logic/commands/AddMusicianToBandCommandTest.java
  src/test/java/seedu/address/logic/commands/FindBandCommandTest.java
  src/test/java/seedu/address/logic/commands/musician/DeleteCommandTest.java
  src/test/java/seedu/address/model/band/UniqueBandListTest.java
Labels: priority.High, severity.High, type.Bug
